@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

form {
    display: block;
}

input[type="submit"],
a,
button {
    min-width: 200px;
    text-align: center;
}

@media (min-width: 1600px) {
    .custom-div {
        background-size: 20vw;
        width: 45vw;
    }
}

.bg-main{
    background-color: #0a7dd6;
}
.bg-secundary{
    background-color: #b9d6ed;
}